In [111]:
import pandas as pd
import numpy as np
import regex as re
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet 
import string
from sklearn.model_selection import train_test_split
nltk.download('stopwords')
nltk.download('punkt')
from nltk.corpus import stopwords
stop_words=set(stopwords.words('english'))

[nltk_data] Error loading stopwords: <urlopen error [WinError 10060] A
[nltk_data]     connection attempt failed because the connected party
[nltk_data]     did not properly respond after a period of time, or
[nltk_data]     established connection failed because connected host
[nltk_data]     has failed to respond>
[nltk_data] Error loading punkt: <urlopen error [WinError 10060] A
[nltk_data]     connection attempt failed because the connected party
[nltk_data]     did not properly respond after a period of time, or
[nltk_data]     established connection failed because connected host
[nltk_data]     has failed to respond>

In [112]:

filename = "./SMSSpamCollection.txt"

data=pd.read_csv(filename, sep='\t', header=None, names=['Y', 'X'])

data

         Y                                                  X
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham               Will ü b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Y       5572 non-null   object
 1   X       5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [113]:
word_tokens=[]
regex=r"\w+"
for i in range(len(data.X)):
    word_tokens.append(re.findall(regex,data.X[i]))

In [114]:
lemmatizer = WordNetLemmatizer()

filtered_word_tokens=[]
for i in range(len(word_tokens)):

    temp=[]

    for j in range(len(word_tokens[i])):
        
        if word_tokens[i][j].lower() in stop_words:
            continue
            
        elif word_tokens[i][j] in string.punctuation:
            continue
            
        else:
            temp.append(lemmatizer.lemmatize(word_tokens[i][j]).lower())   

    filtered_word_tokens.append(temp)

In [115]:
data['tokenise_X']=filtered_word_tokens

In [116]:
X_train, X_test, y_train, y_test = train_test_split(data.tokenise_X, data.Y, test_size = 0.1, random_state = 42)

In [117]:
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size = 0.1, random_state = 42)

In [118]:
X_val

3314    [huh, hyde, park, mel, ah, opps, got, confused...
868     [private, 2003, account, statement, 07808, xxx...
3499             [said, went, back, bed, sleep, anything]
4311    [someone, u, know, asked, dating, service, 2, ...
1353    [let, ur, heart, ur, compass, ur, mind, ur, ma...
                              ...
4153                                     [nanny, address]
4563                               [much, u, trying, get]
4768    [unique, user, id, 1172, removal, send, stop, ...
1915    [new, textbuddy, chat, 2, horny, guy, ur, area...
5150    [happy, new, year, u, ur, family, may, new, ye...
Name: tokenise_X, Length: 502, dtype: object

In [119]:
df1=pd.DataFrame({'X_train': X_train,'y_train': y_train})
df2=pd.DataFrame({'X_val': X_val,'y_val': y_val})
df3=pd.DataFrame({'X_test': X_test,'y_test': y_test})

df1.to_csv('train.csv',index=False)
df2.to_csv('validation.csv',index=False)
df3.to_csv('test.csv',index=False)